@import "tailwindcss";

@theme {
  --color-primary: var(--color-green-600); /* Verde principal */
  --color-hover-primary: var(
    --color-green-800
  ); /* Verde más oscuro para hover */
  --color-secondary: #81c9c1; /* Azul verdoso claro */
  --color-tertiary: #eee41e; /* Amarillo brillante */
}

@layer utilities {
  .responsive-padding-x {
    @apply px-2 sm:px-4 md:px-6 lg:px-12 xl:px-20;
  }

  .responsive-padding-y {
    @apply py-10 sm:py-15 md:py-20 lg:py-25 xl:py-30;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fade-in-right {
  animation: fadeInRight 0.8s ease-out forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

